.main-container {
    display: flex;
}

.short-intro h1 {
    text-align: center;
}

.short-intro,
.dev-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
    padding: 20px;
}

.dev-name {
    font-size: 45px;
}

.orange-color {
    color: orange;
}

.tomato-color {
    color: tomato;
}

.purple-color {
    color: purple;
}

.blueviolet-color {
    color: blueviolet;
}

.orange-color,
.tomato-color,
.purple-color,
.blueviolet-color {
    font-weight: 700;
}

.about p {
    padding: 12px 0px;
    text-align: justify;
    transition: all 0.5s;
}

.about p:hover {
    margin-left: 15px;
    transform: scale(1.15);
}

.about a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.about a:hover {
    text-decoration: underline;
}

.dev-img img {
    width: 100%;
}

@media screen and (min-width: 1370px) {
    .main-container {
        flex-direction: column-reverse;
    }

    .short-intro,
    .dev-img {
        width: 100%;
        align-items: center;
    }

    .dev-img {
        width: 45%;
        margin: 0px auto;
    }

    .intro-title {
        display: flex;
        align-items: center;
    }

    .intro-title h1 {
        padding: 0px 5px;
    }

    .short-intro {
        padding: 0;
    }

    .about p {
        text-align: center;
    }

    .about p:hover {
        margin-left: 0px;
    }
}