.main-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

strong {
    color: #535353;
}

.what-i-do {
    margin: 25px;
}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.service {
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.075);
    border-radius: 5px;
    padding: 20px;
    transition: all 0.5s;
}

.service:hover {
    transform: scale(1.075);
}

.service img {
    width: 50px;
    height: 44px;
}

.service-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.service-description {
    color: #757575;
    font-size: 0.75rem;
    text-align: justify;
}

@media screen and (min-width: 1350px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }
}